@import"../../_variables.scss";
@import"../../_mixin.scss";
.accountpage{
  color: $FONTCOLOR;
  h1{
    text-align: center;
    color: $COLOR2;

  }
}
.account-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 20px;
  span {
    font-size: 18px;
    font-weight: 500;
  }
  p {
    font-size: 16px;
    text-decoration: underline;
    margin: 0;
  }
  button {
    color: #fff;
    font-size: 16px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    background-color: #ff798b;
    &.verified {
      background-color: #a4fa9c;
    }
  }
}
.notification{
  margin: 0 -10px;
  span{
    margin-top: 10px;
    @include font(16px);
    text-align: center;
    display: block;
    padding: 10px;
    color: #fff;
  }
}
.logout-btn{
  @include sec-button;
  width: 200px;
  margin: 10px auto;
  margin-top: 40px;
}
