@import "../../_variables.scss";
@import "../../_mixin.scss";

.add-inner {
  padding-top: 50px;
  .inputGroup {
    position: relative;
    label {
      font-size: 100%;
      position: absolute;
      left: 0;
      padding: 0.8em;
      pointer-events: none;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      color: rgb(100, 100, 100);
    }
    & :is(textarea:focus, textarea:valid)~label,
    & :is(input:focus, input:valid)~label {
      -webkit-transform: translateY(-90%) scale(.8);
          -ms-transform: translateY(-90%) scale(.8);
              transform: translateY(-90%) scale(.8);
      margin: 0em;
      padding: 0;
     color: $FONTCOLOR;
     font-weight: 700;
     font-size: 19px;
    }
  }
  form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    & > * {
      margin-bottom: 20px;
    }
  }
  textarea {
    @include input-style;
    height: 100px;
    resize: none;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: $ACCENTCOLOR;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $ACCENTCOLOR_HOVER;
    }
  }
  input {
    @include input-style;
  }
  .btn-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      @include sec-button;
      &[type="submit"] {
        width: 65%;
      }
      &[type="reset"] {
        width: 30%;
      }
    }
  }
  .warn {
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    background: $MAINCOLOR;
  }
}
