.add-inner {
  padding-top: 50px;
}
.add-inner form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
.add-inner form > * {
  margin-bottom: 10px;
}
.add-inner .btn-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.add-inner textarea,
.add-inner input {
  padding: 10px;
  outline: none;
  border: none;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.add-inner .btn-block button {
  width: 45%;
  display: block;
  padding: 10px;
  outline: none;
  background-color: #f0f8ff;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.add-inner .warn {
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
  background: rgb(255, 0, 0);
}