@import "../../_variables.scss";
@import "../../_mixin.scss";
.add-inner {
  padding-top: 50px;
  form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    & > * {
      margin-bottom: 10px;
    }/*
    .color-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      input[type="color"] {
        width: 60px;
        height: 30px;
        padding: 0;
        margin-bottom: 0;
        border: none;
      }
    }*/
  }
  textarea {
    @include input-style;
    height: 100px;
    resize: none;
  }
  input {
    @include input-style;
  }
  .btn-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      @include sec-button;
      &[type="submit"] {
        width: 65%;
      }
      &[type="reset"] {
        width: 30%;
      }
    }
  }
  .warn {
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    background: $MAINCOLOR;
  }
}
