@import "../../_variables.scss";
@import "../../_mixin.scss";
.home-nouser {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .header-links a {
    padding: 10px 30px;
  }
}
.home-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  @media (max-width: 768px) {
    flex-direction: column;
    margin: 15px 0;

  }
  .home-random {
    width: 50%;
    margin: 0px 15px;
    @media (max-width: 768px) {
      width: 80%;
      margin: 10px auto;
    }
    @media (max-width: 500px) {
      width: 90%;
      margin-top: 20px;
    }
  }
}
.saved-stat {
  text-decoration: none;
  background: $MAINCOLOR_HOVER;
  //background: linear-gradient(to bottom, $MAINCOLOR 50%, $MAINCOLOR_HOVER 100%);
  color: #fff;
  padding: 20px;
  @include border-radius;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  width: 50%;
  margin: 0px 15px;
  height: 210px;
  @media (max-width: 768px) {
    width: 80%;
    margin: 10px auto;
    flex-direction: row;
    height: auto;
    max-width: 550px;
  }
  @media (max-width: 500px) {
    width: 90%;
    padding: 15px;

  }
  span {
    font-size: 60px;
    font-weight: 700;
    @media (max-width: 768px) {
      font-size: 40px;
      margin-left: auto;
    }
    @media (max-width: 500px) {
font-size: 30px;
    }
  }
  img {
    width: 25px;
    height: 25px;
    margin-left: auto;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    @media (max-width: 768px) {
     margin-left: 30px;
  
    }
    @media (max-width: 400px) {
display: none;  
    }
  }
}
.home-random {
  text-align: center;
}
.hr-card {
  height: 210px;

  max-width: 550px;
  width: 100%;
  @include border-radius;
  overflow: hidden;
  text-transform: lowercase;
  @include box-shadow;
  background: $FONTCOLOR;
  @media (max-width: 768px) {
    margin: 0px auto;
  }
}
.randomword {
  padding: 40px 10px;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  background: $MAINCOLOR;
  font-family: $HEADFONT;
  background: linear-gradient(to bottom, $MAINCOLOR 80%, $MAINCOLOR_HOVER 100%);
}
.randomtranslate {
  margin: 0;
  padding: 30px 10px;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  cursor: pointer;
}
