@import "../../_variables.scss";
@import "../../_mixin.scss";
.home-nouser {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .header-links a {
    padding: 10px 30px;
  }
}
.saved-stat {
  background: $MAINCOLOR_HOVER;
  //background: linear-gradient(to bottom, $MAINCOLOR 50%, $MAINCOLOR_HOVER 100%);
  color: #fff;
  padding: 20px;
  @include border-radius;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  width: 100%;
  margin: 25px auto;
}
.home-random {
  text-align: center;
}
.hr-card {
  max-width: 550px;
  width: 100%;
  @include border-radius;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: lowercase;
  @include box-shadow;
  margin: 30px auto 50px auto;
  background: $FONTCOLOR;
}
.randomword {
  padding: 40px 10px;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  background: $MAINCOLOR;
  font-family: $HEADFONT;
  background: linear-gradient(to bottom, $MAINCOLOR 80%, $MAINCOLOR_HOVER 100%);
}
.randomtranslate {
  margin: 0;
  padding: 30px 10px;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  cursor: pointer;
}

