@import "../../_variables.scss";
@import "../../_mixin.scss";
.home-nouser {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .header-links a {
    padding: 10px 30px;
  }
}
.saved-stat {
  background: $MAINCOLOR;
  background: linear-gradient(to bottom, $MAINCOLOR 50%, $MAINCOLOR_HOVER 100%);
  color: #fff;
  padding: 20px;
  @include border-radius;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  width: 100%;
  margin: 25px auto;
}
.home-random {
  text-align: center;
}
.hr-card {
  max-width: 550px;
  width: 100%;
  @include border-radius;
  background: $MAINCOLOR;
  background: linear-gradient(to bottom, $MAINCOLOR 50%, $MAINCOLOR_HOVER 100%);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  text-transform: lowercase;
  color: #fff;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(148, 148, 148, 0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(148, 148, 148, 0.75);
  box-shadow: 0px 0px 20px 5px rgba(148, 148, 148, 0.75);
  margin: 30px auto 50px auto;
}
.randomword {
  margin: 0;
  margin-bottom: 70px;
  font-size: 30px;
  font-weight: 700;
}
.randomtranslate {
  margin: 0;
  font-size: 10px;
  font-weight: 300;
}

