@import "../../_variables.scss";
@import "../../_mixin.scss";
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    text-align: center;
    @include font(30px);
    font-family: $HEADFONT;
    font-weight: 500;
    margin-top: 50px;
  }
  form {
    max-width: 550px;
    width: 100%;
    div {
      display: flex;
      flex-direction: column;
      width: 100%;      
      input {
        @include input-style;
      }
      label span,
      label {
        margin-bottom: 5px;
        font-family: $HEADFONT;
        font-weight: 300;
      }
    }
    .login-btn {
      @include sec-button;
      width: 100%;
      margin-top: 50px;
    }
  }
  
}
.resetpass {
  button {
    color: $MAINCOLOR_HOVER;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    text-align: left;
    @include font(15px);
    font-weight: 500;
  }
}
.or-block{
  margin: 50px 0;
  text-align: center;
  color: #adadadea;
  position: relative;
  padding: 0 10px;
  &::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background: #b3b3b3ea;
    top: 50%;
    left: 60px;
  }
  &::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background: #b3b3b3ea;
    top: 50%;
    right: 60px;
  }
}
