@import "../../_variables.scss";
@import "../../_mixin.scss";
.saved-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.saved-card {
  background: $MAINCOLOR;
  background: linear-gradient(to bottom, $MAINCOLOR 50%, $MAINCOLOR_HOVER 100%);
  color: #fff;
  padding: 20px 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: flex;
  justify-content: space-between;
  .form-group {
    input {
      width: 90%;
      padding: 8px;
      margin-bottom: 5px;
      background: initial;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      font-size: 16px;
      color: #fff;
      @include transition;
      &:focus {
        border-bottom: 2px solid #fff;
      }
    }
  }
  .btn-block {
    display: flex;
    flex-direction: column;
    button {
      margin-bottom: 5px;
      padding: 5px;
      outline: none;
      border: none;
      background: none;
      @include transition;
      &:hover {
        background: $MAINCOLOR_HOVER;
        @include border-radius;
      }
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
.form-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.saved-wrapper {
  list-style: none;
}
.saved-info {
  display: flex;
  flex-direction: column;
}
.saved-card-word {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.saved-card-translate {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.saved-card-note {
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 980px) {
  .saved-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .saved-list {
    grid-template-columns: 1fr;
  }
}
