@import "../../_variables.scss";
@import "../../_mixin.scss";
.saved-menu {
  padding-top: 20px;
  display: flex;
  align-items: center;
  .sort-btn {
    outline: none;
    background: none;
    border: none;
    @include flex;
    cursor: pointer;
  }
}
.nodata {
  @include font(16px);
  text-align: center;
  font-weight: 500;
  padding: 20px 0;
}
.saved-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 0;
  .filter {
    margin-left: 15px;
    margin-right: 10px;
    select {
      border: none;
      border-radius: 10px;
      background: $ACCENTCOLOR;
      color: #fff;
      font-weight: 700;
      height: 33px;
      outline: none;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      padding: 0 10px;
      option {
        text-transform: lowercase;
      }
    }
  }
  .search-block {
    display: flex;
    margin-left: auto;
    .search-input {
      display: none;
    }
    .search-input-active {
      display: block;
      @include input-style;
      height: 1.5rem;
      margin-bottom: 0;
      font-weight: 700;
    }
    .search {
      display: flex;
      align-items: flex-end;
      cursor: pointer;
      @media (max-width: 1130px) {
        padding: 0;
      }
      &.hide {
        display: none;
      }
    }
  }
}
#active-sorttype {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: $ACCENTCOLOR;
  padding: 3px;
}

.saved-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  @media (max-width: 980px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 650px) {
    grid-template-columns: 1fr;
    /*height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 15%;*/
  }
  .saved-wrapper {
    list-style: none;
    /*@media (max-width: 650px) {
      margin-top: -93px;
    
      &:first-child {
        margin-top: 0;
      }
    }*/
  }
} 
.saved-card {
  @include border-radius;
  border: 1px solid $MAINCOLOR;
  height: 200px;
  overflow: hidden;
  @include box-shadow;
  @include transition;
  background: #fff;
  position: relative;
  @media (max-width: 650px) {
    width: 75%;
    margin: 0 auto;
  }
  @media (max-width: 500px) {
    width: 90%;
  }
  &:hover {
    border: 3px solid $MAINCOLOR;
    box-shadow: none;
  }

  .top-sec {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 20px;
    background: $MAINCOLOR;
    border-bottom: 1px solid $SECCOLOR;
    background: linear-gradient(
      to bottom,
      $MAINCOLOR 70%,
      $MAINCOLOR_HOVER 100%
    );
  }
  .form-group {
    input {
      width: 90%;
      padding: 8px;
      margin-bottom: 5px;
      background: initial;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      font-size: 16px;
      color: #fff;
      @include transition;
      &:focus {
        border-bottom: 2px solid #fff;
      }
      &::placeholder {
        color: $SECCOLOR;
        opacity: 1;
      }
    }
  }
  .btn-block {
    display: flex;
    button {
      margin-left: 5px;
      padding: 5px;
      outline: none;
      border: none;
      background: none;
      @include transition;
      &:hover {
        background: $MAINCOLOR_HOVER;
        @include border-radius;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  &.edit-saved-card {
    padding: 10px 20px;
    background: $MAINCOLOR;
    background: linear-gradient(
      to bottom,
      $MAINCOLOR 50%,
      $MAINCOLOR_HOVER 100%
    );
    display: flex;
    align-items: flex-start;
    box-shadow: none;
    &:hover {
      border: 1px solid $MAINCOLOR;
    }
    textarea {
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      resize: none;
      color: #fff;
      font-size: 16px;
      width: 90%;
      outline: none;
      height: 50px;
      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: $ACCENTCOLOR;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $ACCENTCOLOR_HOVER;
      }
      &::placeholder {
        color: $SECCOLOR;
        opacity: 1;
      }
    }
  }
}
.form-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.saved-info {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  color: #000;
}
.saved-card-word {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: $HEADFONT;
}
.saved-card-translate {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: $HEADFONT;
}
.saved-card-note {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}
.saved-card-category {
  text-transform: lowercase;
  font-size: 14px;
  background-color: $ACCENTCOLOR;
  color: #fff;
  font-weight: 300;
  padding: 5px 10px 5px 20px;
  position: absolute;
  top: 80px;
  right: 0;
  border-radius: 20px 0px 0px 20px;
  -webkit-border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  -ms-border-radius: 20px 0px 0px 20px;
  -o-border-radius: 20px 0px 0px 20px;
}

@media (max-width: 480px) {
  .saved-nav {
    .filter {
      margin-left: 5px;
      margin-left: 5px;
      select {
        padding: 0 5px;
        width: 70px;
      }
    }
  }
}
