.search-page form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
}
.search-page input {
  padding: 10px;
  outline: none;
  border: none;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.search-list {
  padding: 0;
  margin: 0;
}
.search-list li {
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(220, 233, 245);
  list-style: none;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 5px;
}
