@import "../../variables";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  background-color: #f0f8ff;
  height: 58px;
  box-shadow: 0px 4px 10px 1px rgba(197, 197, 197, 0.46);
}
.header-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 1100px;
  top: 0;
  left: 0px;
  right: 0px;
  background-color: #f0f8ff;
  padding: 12px 0px;
  margin: 0 auto;
  &.df {
    justify-content: space-between;
    .logo {
      margin: 0;
      transform: translate(0%);
      -webkit-transform: translate(0%);
      -moz-transform: translate(0%);
      -ms-transform: translate(0%);
      -o-transform: translate(0%);
    }
  }
}

.logo {
  margin: auto;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  img {
    width: 30px;
    height: 30px;
  }
}
.back-btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.search {
  padding: 0 10px;
}
