@import "../../_variables.scss";
.menu-inner {
  width: 100%;
  position: fixed;
  height: 70px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  display: flex;
  justify-content: center;
  z-index: 10;
}
.menu {
  margin: 5px 0px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: $BODYCOLOR2;
  width: 50%;
  min-width: 310px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  @media(max-width: 1000px){
    width: 70%;
  }
  @media(max-width: 650px){
    width: 85%;
  }
  @media(max-width: 400px){
    width: 70%;
  }
  a {
    color: inherit;
    cursor: pointer;
    outline: none;
    padding: 10px 15px;
    margin: 0 15px;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    display: flex;
    align-items: center;
    &.active svg path {
      fill: $COLOR2 !important;
    }
  }
}
