@import "../../_variables";
@import "../../_mixin";
@mixin mainscreen-btn {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 50px;
  height: 50px;
  @include flex;
  border: 2px solid $ACCENTCOLOR;
}
.mainscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 15%;
  height: 80vh;
}
.mainscreen-img {
  img {
    width: 150px;
    height: 150px;
  }
}
.mainscreen-content {
  display: flex;
  flex-direction: column;
  h1 {
    @include font(45px);
    text-align: center;
    margin-bottom: 15%;
    @media (max-width: 980px) {
      @include font(35px);
    }
    @media (max-width: 480px) {
      @include font(30px);
    }
  }
  .btn-block {
    display: flex;
    align-items: center;
    p {
      color: $ACCENTCOLOR;
      margin-right: 30px;
      @include mainscreen-btn;
      width: 200px;
      @media (max-width: 480px) {
        width: 150px;
        
      }
      img {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        margin-left: 20px;
      }
    }
    .google-icon-spec {
      @include mainscreen-btn;
      margin-right: 5px;
      cursor: pointer;
      @include transition;
      &:hover {
        border: 4px solid $ACCENTCOLOR_HOVER;
      }
      img {
        width: 25px;
        height: 25px;
      }
    }

    a {
      @include mainscreen-btn;
      cursor: pointer;
      padding: 10px;
      @include transition;
      &:hover {
        border: 4px solid $ACCENTCOLOR_HOVER;
      }
    }
  }
  .btm {
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(15px);
    a {
      color: $ACCENTCOLOR;
      text-decoration: none;
      margin-left: 5px;
      cursor: pointer;
      @include transition;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
