@import "./_variables";
@mixin border-radius {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@mixin box-shadow{
  -webkit-box-shadow: 0px 0px 10px 5px rgba(148, 148, 148, 0.75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(148, 148, 148, 0.75);
  box-shadow: 0px 0px 10px 5px rgba(148, 148, 148, 0.75);
}
@mixin transition {
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}
@mixin font($size) {
  font-size: $size;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.022em;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin input-style {
  @include font(16px);
  font-family: $HEADFONT;
  outline: none;
  width: 100%;
  height: 3rem;
  border: 1px solid $ACCENTCOLOR;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #000;
  padding: 0.9rem;
  text-align: left;
  background-color: hsl(0, 0%, 85%);
  text-overflow: ellipsis;
  @include transition;
  @include border-radius;
  &:focus  {
    border: 3px solid $COLOR2;
    background: rgba($color:  $FONTCOLOR, $alpha: 0.7);
  }
}
@mixin main-button {
  @include flex;
  @include font(17px);
	padding: 18px 0;
  margin: 10px auto;
  width: 300px;
  background: $COLOR2;
  color: $BODYCOLOR2;
  text-decoration: none;
  outline: none;
  @include border-radius;
  @include transition;
  font-family: $HEADFONT;
	cursor: pointer;
  font-weight: 700;
  &:hover {
    background: $FONTCOLOR;
  }
}
@mixin sec-button {
  @include flex;
  @include font(15px);
	padding: 10px 0;
  margin: 10px 0;
  background: $ACCENTCOLOR;
  color: #fff;
  text-decoration: none;
  outline: none;
	border: none;
  @include border-radius;
  @include transition;
		cursor: pointer;
  font-weight: 700;
  font-family: $HEADFONT;
  &:hover {
    background: $BODYCOLOR2;
  }
}
@mixin mainscreen-btn {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 50px;
  height: 50px;
  @include flex;
  border: 2px solid $ACCENTCOLOR;
}