$BODYCOLOR: #2c3950;
$BODYCOLOR2: #4B4F6D;
$FONTCOLOR: #f7d5b1;
$COLOR2: #f7b672;


$MAINCOLOR:  #008D98;
$MAINCOLOR_HOVER: #0D617E;
$SECCOLOR: #ffba00;
$SECCOLOR_HOVER: #ffba00;
$ACCENTCOLOR: #000;
$ACCENTCOLOR_HOVER: #1c3638;

$HEADFONT: 'Lato', sans-serif;
$TEXTFONT: 'Open Sans', serif;
