@import './variables'; 
@import './mixin'; 
.container {
  max-width: 1120px;
  padding: 50px 10px 50px 10px;
  margin: 0 auto;
}
.main-btn {
  @include main-button;
}
.oops-section {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 200px;
    height: 200px;
    margin-bottom: 60px;
  }
}
.header-links {
  display: flex;
  align-items: center;
}
.header-links a {
  display: block;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-decoration: none;
  margin-left: 8px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: inherit;
  background-color: #daeeff;
}
.header-links a:hover {
  background-color: #9fd0fa;
}

@media (max-width: 480px) {
  .oops-section img {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
  }
}
