.container {
  max-width: 1120px;
  padding: 50px 10px 50px 10px;
  margin: 0 auto;
}
.main-btn {
  background: rgb(110, 117, 211);
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  padding: 18px 0;
  margin: 10px auto;
  width: 300px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.oops-section {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.oops-section img {
  width: 300px;
  height: 300px;
  margin-bottom: 60px;
}
.header-links {
  display: flex;
  align-items: center;
}
.account-link,
.header-links a {
  display: block;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-decoration: none;
  margin-left: 8px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: inherit;
  background-color: #daeeff;
}
.account-link:hover,
.header-links a:hover {
  background-color: #9fd0fa;
}

@media (max-width: 480px) {
  .oops-section img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
  }
}
